body {
    background: url("../images/nature.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

button.answer {
    margin-right: 10px;
}